@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

body {
            margin: 0;
            font-family: quicksand, sans-serif;
        }
        .container {
            display: flex;
            height: auto;
            min-height: 75vh;
        }
        .sidebar {
            width: 15%;
            background-color: #A4BFF2;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 20px;
        }
        .sidebar button {
            width: 80%;
            height:30%;
            font-family: quicksand, sans-serif;
            min-height: 100px;
            padding: 10px;
            margin: 10px 0;
            background-color: #343A40;
            color: white;
            border: none;
            cursor: pointer;
            text-align: center;
            text-wrap: wrap;
            font-size: 30px;
        }
        .sidebar button.active {
            background-color: #ADB5BD;
            color: black;
        }
        .content {
            width: 100%;
            background-color: #FFE599;
            padding: 20px;
        }
        .header {
            background-color: #A4BFF2;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header h1 {
            margin: 0;
        }

    .footer{
    display: flex;
    background: #A4BFF2;
    color: black;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
    left: 0;
    bottom: 0;
    
}
.center{
    text-align: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}
.form-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.submit-button {
    background-color: #A4BFF2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.footer hr{
    border-color: black;
}

#footerImg{
    text-align: center;
}

#footerPages{
    list-style-type:disc;
    text-align: center;
    font-family: Quicksand;
}

#footerContact{
    text-align: center;
}

/*dropdown styles*/
 /* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
.menu_icon {
  vertical-align: middle;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #FFE599;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
