@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');

/*general styles for the body class*/
body{
    min-width: 360px;
    background-color: #FFE184;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*header styles*/

.header-wrapper {
    width: 100%;  
    background-color: #A4BFF2;  
}
.headerLinks{
    color: black;  
    font-family: quicksand;
    font-size: 30px;
    font-weight: bold;
}
.header {
    max-width: 960px;  
    margin: 0 auto;  
    display: flex;
    font-family: quicksand;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;  
}

#headerImg{
    text-align: center;
 
}


#headerTitle{
    font-family: quicksand;
    text-align: center;
}

#nav{
    font-family: quicksand;
    font-size: large;
    text-align: center;
}

#registerHeader{
    text-align: center;
    font-family: Quicksand;
    font-size: 25px;
}

#formContainerL{
    text-align: center;
}

#formContainerR{
    text-align: center;
}

#registerForm{
    text-align: center;
    margin: 5px;
}

.registerbtn{
    padding: 12px;
    margin: 15px;
}

.hero{
     
     
    background-image: url(/images/homepage_1.jpg);  
    background-size: 500vh;  
    

    background-position: fixed;  
    background-repeat: no-repeat;  
    
    width: 100vw;  
       
     
    display: flex;
    align-items: center;
    

    position: relative;
    
    padding-top: 25%;

    padding-bottom: 25%;
    
    vertical-align: middle;
    

}

.heroblock{
    background-color: #FFE184;
    padding: 50px;
    height: 40%;
    vertical-align: middle;
    text-align: center;
    padding-left: 15%;
    min-height: 300px;
    
}

.hero_h1{
    font-family: quicksand;
    font-size: 45px;
    color: #454851;
    text-align: center;
    word-wrap: break-word;
}
.hero_h1anim{
    font-family: quicksand;
    font-style: bold;
    font-size: 60px;
    text-wrap: wrap;
    color: #588cec;
    overflow: auto;
    text-align: center;
    word-wrap: break-word;
}
.helpButtonsContainer {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
    
}
.helpBlock {
    background-color: #A4BFF2;  
    padding: 20px;  
    border-radius: 25px;  
    width: 80%;  
    margin: 0 auto;  
    
    text-align: center;  
}

.helpButtons {
    padding: 10px 20px;
    padding-bottom: 20px;
    font-size: 50px;
    border: none;
    border-radius: 5px;
    background-color: #343A40;
    color: white;
    
}

.helpButtons:hover {
    background-color: #0056b3;
}

.closesymbol {
   text-align: right;
   font-size: 50px;
}

.registeredBlock {
   
    width: 80%;
    margin: 0 auto; 
    text-align: center;

}

.popup {
    height: fit-content;
    width: fit-content;
    position: fixed;
    font-family: quicksand;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #A4BFF2;
    text-decoration-color: #343A40;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}


.CaravanCardContainer {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 20px; 
    padding: 20px;  
    padding-bottom: 50px;  
    background-color: #ffffff;  
    border-radius: 25px;  
    width: 70%;  
    margin: 0 auto;  
    text-align: center;  
    box-sizing: border-box;  
}

.CaravanCard {
    background-color: #A4BFF2;  
    padding: 20px;  
    border-radius: 25px;  
    width: 300px;  
    text-align: center;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    flex-shrink: 0;  
    display: flex;
    flex-direction: column;  
    overflow: hidden;  
}

.Cardimg {
    width: 100%;  
    height: 150px;  
    object-fit: cover;  
    border-top-left-radius: 25px;  
    border-top-right-radius: 25px;  
}

.CaravanCard .card-content {
    padding: 10px;  
    text-align: center;  
    flex-grow: 1;  
    overflow: auto;  
}

.footer{
    display: flex;
    background: #A4BFF2;
    color: black;
    justify-content: space-between;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 5px;
}

.footer hr{
    border-color: black;
}

#footerImg{
    text-align: center;
}

#footerPages{
    list-style-type:disc;
    text-align: center;
    font-family: Quicksand;
}

#footerContact{
    text-align: center;
}

#caravanImg img{
    float: right;
    width: 100%;
}

#formContainer{
    text-align: center;
    display: block;

}

