#viewdiv
{
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    width: 300px;
    display: inline-block;
}

.button {
    background-color: #FFE184;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border: #000000 solid 2px;
    border-radius: 5px;
    padding: 10px;
}

#display
{
    margin: auto;
    gap: 20px;
}